{% extends "core/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Sign in to Your Account</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!-- Username -->
        <label for="id_username">Username:</label>
        {{ form.username }}

        <!-- Password -->
        <label for="id_password">Password:</label>
        {{ form.password }}

        <button type="submit" class="btn login-btn">Login</button>
    </form>

    <p class="signup-link">
        Don’t have an account? <a href="{% url 'signup' %}">Sign up here</a>
    </p>
</div>
{% endblock %}
