<h2>Payment History for {{ tenant.name }}</h2>

{% if payments %}
  <table>
    <thead>
      <tr>
        <th>Invoice Nbr</th>
        <th>Date</th>
        <th>Amount (₦)</th>
        <th>Provider</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      {% for payment in payments %}
        <tr>
          <td>{{ payment.invoice_number }}</td>
          <td>{{ payment.created_at|date:"M d, Y H:i" }}</td>
          <td>{{ payment.amount|divisibleby:100 }}</td>
          <td>{{ payment.provider|title }}</td>
          <td>{{ payment.status|title }}</td>
          <td> {% if payment.status == "success" %} 
            <a href="{% url 'download_invoice' payment.id %}" class="btn btn-sm btn-primary">
                Download
            </a> 
            {% else %} 
            — 
            {% endif %} 
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No payments recorded yet.</p>
{% endif %}
